name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # 1. Récupération du code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. NETTOYAGE AGRESSIF (C'est ici qu'on l'ajoute !)
      # Cela libère environ 10-12 Go d'espace sur le serveur GitHub
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          swap-storage: true
          docker-images: false # On garde les images docker de base pour aller vite

      # 3. Connexion à Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 4. Installation du moteur de build
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 5. Construction et Envoi
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Adaptez le tag si vous voulez changer de version (0.1, 0.2...)
          tags: remibertaud/comfy-runpod:0.1